@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root{
    --fuente: 'Inconsolata', serif;

}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: url(/assets/images/pattern-squiggly-line-top.svg),
    url(/assets/images/pattern-squiggly-line-bottom-desktop.svg),
    url(/assets/images/pattern-lines.svg),
    url(/assets/images/background-desktop.png);
    background-repeat: no-repeat;
    background-size: 20, 63%, cover, 100%;
    background-position: right top, left bottom;
   
}
