@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root{
    --fuente: 'Inconsolata', serif;

}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
header{
    justify-self: center;
    margin-top: 30px;
}
footer{
    margin-bottom: 60px;
}

body{
    min-height: 100vh;
    background-image: url(/assets/images/pattern-squiggly-line-top.svg),
    url(/assets/images/pattern-squiggly-line-bottom-desktop.svg),
    url(/assets/images/pattern-lines.svg),
    url(/assets/images/background-desktop.png);
    background-repeat: no-repeat;
    background-size: auto, auto, cover, cover;
    background-position: right top, left bottom, center, center;
}

h1{
    font-family: var(--fuente);  
    font-weight: 800;
    font-size: 3.125rem;
    text-align: center; 
    color: #fff;
    background: linear-gradient(90deg hsl(7, 86%, 67%), hsl(0, 0%, 100%));
}
.welcome > p {
    font-size: 20px;
    font-weight: 300;
}
section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--fuente);
    color: #fff;
    gap: 10px;   
}

legend{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    align-items: center;
}

.welcome{
    text-align: center;
    margin: 30px 60px 60px 60px;
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: none;
}


.input-text{
    font-family: var(--fuente);
    color: aliceblue;
    font-weight: 300;
    width: 25rem;
    height: 2.813rem;
    background-color: rgba(122, 122, 122, 0.15);
    border-radius: 10px;
    border:1px solid hsl(240, 1%, 70%);
    padding-left: 15px;

}

.input-text:-webkit-autofill,
.input-text:-webkit-autofill:hover, 
.input-text:-webkit-autofill:focus, 
.input-text:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff;
}


.input-text:hover{
    background-color: rgba(122, 122, 122, 0.35);
}

.input-text::placeholder{
    font-family: var(--fuente);
    color: #ffffff82;
    font-weight: 300;
    font-size: 0.9rem;
}

.input_file{
    max-width: 100%;
    width: 25rem;
    height: 7.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px dashed hsla(0, 0%, 90%, 0.559);
    justify-items: center;
    align-content: center;
}

.input_file:hover{
    background-color: rgba(122, 122, 122, 0.35);
    cursor: pointer;
}

.imagen{
    width: 50px;
    border-radius: 12px;
    border:1px solid hsla(240, 1%, 70%, 0.491);
    background-color: rgba(122, 122, 122, 0.35);
    padding: 0px;
    margin-bottom: 10px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#remove, #change{
    font-family: var(--fuente);
    font-size: 0.7rem;
    width: 80px;
    height: 18px;
    background-color: rgba(122, 122, 122, 0.298);
    border: none;
    color: #ffffffb6;
    border-radius: 3px;
}


.generate_ticket{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    background-color: hsl(7, 88%, 67%);
    font-family: var(--fuente);
    font-weight: 800;
    font-size: large;
    transition: 0.5s;
}

.generate_ticket:hover{
    background-color: hsl(7, 71%, 60%);
    cursor: pointer;
    transition: 0.8s;
}
.titulo-mobile{
    display: none;
}

@media (max-width:400px) {
    header{
        justify-items: center;
        margin-top: 30px;
    }
    .titulo-desktop {
        display: none;
      }
    .titulo-mobile {
        display: block;
    }
    .welcome{
        gap: 10px;
        margin: 30px;
        margin-top: 20px;
    }
    h1{
        font-size: 1.6rem;

    }
    .welcome > p {
        font-size: 1.1rem;
        text-align: center;

    }
    .input-text{
        font-family: var(--fuente);
        color: aliceblue;
        font-weight: 300;
        width: 20.313rem;
        height: 2.813rem;
    }

    .input_file{
        width: 20.313rem;
        height: 7.5rem,;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 2px dashed hsla(0, 0%, 90%, 0.559);
        justify-items: center;
        align-content: center;
    }

    .generate_ticket{
        width: 20.313rem;
        height: 2.813rem;
        border-radius: 10px;
    }

    body{
        background-repeat: no-repeat;
        background-size: 40%, 50%, cover, cover;
        background-position: right top, left bottom, center, center;
    }

}

.form-error {
    display: none;
}

.ticket_congrats{
    margin: 30px 60px 60px 60px;
    gap:30px;
}
.ticket_congrats > p {
    font-size: 1.2rem;
    text-align: center;    
}
#ticket_email{
    color:hsl(7, 61%, 72%);
}


#ticket_name {
    background: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
 }


.ticket {
    position: relative;
    background-image: url(assets/images/pattern-ticket.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    aspect-ratio: 16/9;
    max-width: 600px;
    margin: 0 auto;
    align-items: baseline;
    
}

.ticket_info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 2rem;
    
}

.ticket_header{
    width: 90%;
    display:flex;
    flex-direction: row;
    position: relative;
    bottom: 30px;
    gap: 20px;
}

.ticket_title{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

}
.ticket_title > img{
    width: 40px;
}

.ticket_date{
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: end;
    justify-content: end;
    gap:15px;
    top: 10px;
}
.ticket_date > h3{
    font-size: 2.3rem;
}
.ticket_date > p {
    font-size: 1.15rem;
    font-weight: 300;
    color: #ffffffc8;
}






.ticket_footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:20px;
    top:25px;
    
}

.ticket_avatar > img{
    width: 80px;
    border-radius: 14px;
}

.ticket_data{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
    padding-top: 8px;
   
}
.ticket_data >span{
    font-size: 1.7rem;
    font-weight: 400;
  
}

.ticket_github{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px; 
}
.ticket_github > p{
    font-weight: 300;
    font-size: 1.15rem;
}

@media (max-width:500px) {
    .ticket_congrats{
        margin: 30px 0px 60px 0px;
    }
    .ticket_congrats > h1{
        font-size: 2.3rem;
        max-width: 90%;
    }

    .ticket_congrats > p {
        font-size: 1rem;
        text-align: center;
        max-width: 90%;    
    }
    .ticket {   
        max-width: 90%; 
    }

    .ticket_info{
        gap: 30px;
        padding-left: 1.3rem;
        
      
    }
    .ticket_header{
        bottom: 10px;
        gap: 10px;
        padding-top: 15px;
    }
    .ticket_title > img{
        width: 30px;}

    .ticket_date{
        gap: 5px;
        top:0;
    }

    .ticket_date > h3{
        font-size: 1.5rem;
    }
    .ticket_date > p {
        font-size: 0.7rem;
    }

    
    .ticket_footer{
        top:0px;
        gap:10px;
    
    }

   
    .ticket_avatar > img{
        width: 50px;
        border-radius: 9px;
    }
   
    .ticket_data{
        gap: 5px;
        padding-top: 0px;
    }
    .ticket_data >span{
        font-size: 1.15rem;

    }

    .ticket_github{
        gap: 5px; 
    }
    .ticket_github > img{
        width: 15px;
    }
    .ticket_github > p{
        font-size: 0.8rem;
    }
    

    }