@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root{
    --fuente: 'Inconsolata', serif;

}

*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
header{
    justify-items: center;
    margin-top: 30px;
}
footer{
    margin-bottom: 60px;
}

body{
    min-height: 100vh;
    background-image: url(/assets/images/pattern-squiggly-line-top.svg),
    url(/assets/images/pattern-squiggly-line-bottom-desktop.svg),
    url(/assets/images/pattern-lines.svg),
    url(/assets/images/background-desktop.png);
    background-repeat: no-repeat;
    background-size: auto, auto, cover, cover;
    background-position: right top, left bottom, center, center;
}

.welcome > h1{
    font-weight: 800;
    font-size: 3.125rem;
    text-align: center;
    
}
.welcome > p {
    font-size: 20px;
    font-weight: 300;
}
section{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-family: var(--fuente);     
}

legend{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 10px;
    align-items: center;
}

.welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 60px;
    margin-top: 30px; 
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border: none;
}


.input-text{
    font-family: var(--fuente);
    color: aliceblue;
    font-weight: 300;
    width: 25rem;
    height: 2.813rem;
    background-color: rgba(122, 122, 122, 0.15);
    border-radius: 10px;
    border:1px solid hsl(240, 1%, 70%);
    padding-left: 15px;

}

.input-text:-webkit-autofill,
.input-text:-webkit-autofill:hover, 
.input-text:-webkit-autofill:focus, 
.input-text:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff;
}


.input-text:hover{
    background-color: rgba(122, 122, 122, 0.35);
}

div{
    width: 25rem;
    height: 7.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 2px dashed hsla(0, 0%, 90%, 0.559);
    justify-items: center;
    align-content: center;
}

div:hover{
    background-color: rgba(122, 122, 122, 0.35);
    cursor: pointer;
}

#imagen{
    width: 50px;
    border-radius: 12px;
    border:1px solid hsla(240, 1%, 70%, 0.491);
    background-color: rgba(122, 122, 122, 0.35);
    padding: 0px;
    margin-bottom: 10px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    width: 400px;
    height: 45px;
    border-radius: 10px;
    background-color: hsl(7, 88%, 67%);
    font-family: var(--fuente);
    font-weight: 800;
    font-size: large;
    transition: 0.5s;
}

button:hover{
    background-color: hsl(7, 71%, 60%);
    cursor: pointer;
    transition: 0.8s;
}
.titulo-mobile{
    display: none;
}

@media (max-width:400px) {
    header{
        justify-items: center;
        margin-top: 30px;
    }
    .titulo-desktop {
        display: none;
      }
    .titulo-mobile {
        display: block;
    }
    .welcome{
        gap: 10px;
        margin: 30px;
        margin-top: 20px;
    }
    .welcome > h1{
        font-size: 1.6rem;

    }
    .welcome > p {
        font-size: 1.1rem;
        text-align: center;

    }
    .input-text{
        font-family: var(--fuente);
        color: aliceblue;
        font-weight: 300;
        width: 20.313rem;
        height: 2.813rem;
    }

    div{
        width: 20.313rem;
        height: 7.5rem,;
        background-color: rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border: 2px dashed hsla(0, 0%, 90%, 0.559);
        justify-items: center;
        align-content: center;
    }

    button{
        width: 20.313rem;
        height: 2.813rem;
        border-radius: 10px;
        background-color: hsl(7, 88%, 67%);
        font-family: var(--fuente);
        font-weight: 800;
        font-size: large;
        transition: 0.5s;
    }

}

